    <div id="wrapper" style="background:#FFF">
      <!-- Sidebar -->
      <div id="sidebar-wrapper" class="center" style="background:#FFF;margin-top:50px">
        <ul class="sidebar-nav-job" style="color:#000">
          <li><img src="{{site.img}}" class="img img-circle" height="70" style="left:50" style="color:#000"></li>
          <li class="sidebar-brand">
            <a href="/index.html" style="color:#000">
              Andy Kamath
            </a>
          </li>
          {%for p in site.posts%}
          {% if p.icon %}
          <li>
            <a href="{{p.url}}"><i class="fa fa-{{p.pic}}"></i> {{p.title}}</a>
          </li>
          {%endif%}
          {%endfor%}
        </ul>
      </div>
      <div class="sidebarc"><div class="toggle"><h1><a id="menu-toggle" href="#" style="position:fixed;margin-top:5px;z-index:100;color:#000"><span class="fa fa-bars"></span></a></h1></div></div>
    