    
    <div id="wrapper" style="background:#FFF">
      <!-- Sidebar -->
      <div id="sidebar-wrapper" class="center" style="background:#FFF;margin-top:50px">
        <ul class="sidebar-nav-job" style="color:#000">
          <li><img src="{{site.img}}" class="img img-circle" height="70" style="left:50" style="color:#000"></li>
          <li class="sidebar-brand">
            <a href="index.html" style="color:#000">
              Andy Kamath
            </a>
          </li>
          <li>
            <a href="designs.html"><i class="fa fa-eye"></i> Web Designs</a>
          </li>
          <li>
            <a href="desktop.html"><i class="fa fa-laptop"></i> Desktop Apps</a>
          </li>
          <li>
            <a href="webapps.html"><i class="fa fa-code"></i> Web Apps</a>
          </li>
          <li>
            <a href="https://docs.google.com/document/d/14XF0M6H3qp08F2HxMIQQ9k5KEI-3BFFUBTJujT8nrOs/edit?usp=sharing"><i class="fa fa-paperclip"></i> My Resume</a>
          </li>
          <li class="active">
            <a href="about.html"><i class="fa fa-user"></i> About Me</a>
          </li>
          <li>
            <a href="contact.html"><i class="fa fa-envelope"></i> Contact Me</a>
          </li>
        </ul>
      </div>
      <div class="sidebarc"><div class="toggle"><h1><a id="menu-toggle" href="#" style="position:fixed;margin-top:5px;z-index:100;color:#000"><span class="fa fa-bars"></span></a></h1></div></div>
    