---
layout: default
---
<!DOCTYPE html>
<html>

  {% include head.html %}

  <body class="job">

    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        <div class="jumbotron jumbotron-job" align="center">
      <div class="container">
        <h1>{{ page.title }}</h1>
        <hr class="divider wow zoomIn">
        <div class="row">
          {{content}}
        </div>
      </div>
    </div>
<script type="text/javascript">
      $("#wrapper").toggleClass("toggled");
        $("#menu-toggle").click(function(e) {
          e.preventDefault();
          $("#wrapper").toggleClass("toggled");
          this.classList.toggle( "active" );
        });
        $(".navigation").click(function(){
          $(".navigation").removeClass('currentlyActive');
          $(this).addClass('currentlyActive');
        });
    </script>
      </div>
    </div>

    {% include footer.html %}

  </body>

</html>
